---
import Layout from '../layouts/BlogPost.astro';
---

<Layout
	title="About Me"
	description="Lorem ipsum dolor sit amet"
	pubDate={new Date('August 08 2021')}
	heroImage="/catalina-mugshot.png"
>
<p>
I am a died in the wool eclectic learner who has been fortunate to spend my life doing what I love most — giving people the tools to help themselves.
</p>

<p>I love to read. <em>Everything</em>.</p>

<p>I like philosophical treatises as well as blog posts about the latest software engineering trends.</p>

<p>I understand Spanish and German kinda ok, but not nearly as much as I used to when I lived in Mexico and Switzerland.</p>

<p>I used to play guitar and piano a lot. I like photography, travel, and oh yeah, I’m a foodie.</p>
</Layout>
